:root{
    --header-size:4rem;
    --footer-size:4rem;
    --home-header-size:19vw;
    --footer-header-size:8rem;
    --home-header-minsize:200px;
    --color-primay:#064c88;
    --color-white:#e9e7e6;
    --color-black:#212121;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html,
body,#root{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    overflow-y: auto;
}
html{
    font-size: 0.625rem;
}
.login_header{
    height: var(--header-size);
    background-color: var(--color-primay);
    color: var(--color-white);
}
.login_footer{
    height: var(--footer-size);
    background-color: var(--color-primay);
    color: var(--color-white);
    font-size: 2rem;
}
.home_header{
    width: 100%;
    background-image: url("../images/home-header-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: var(--home-header-minsize);
}
.home_footer{
    width: 100%;
    height: var(--footer-header-size);
    font-size: 2rem;
    color: #ffffff;
    line-height: var(--footer-header-size);
    background: linear-gradient(140deg,#033e63,#9c9ff7,#33333b);
}
.center-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-group{
    display: flex;
    justify-content: space-between;
}
.css-vubbuv{
    font-size: 2rem !important;
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
.off-canvas{
    width: 20rem;
    background-color: #212121;
}
.off-canvas-title{
    font-size: 2.3rem;
    color: #ffffff;
}
.off-canvas-body{
    height: 100%;
    width: 100%;
    display: flex;
}
.off-canvas-btn{
    color: #ffffff;
    font-size: 2rem;
    background-color: inherit;
    border: 1px solid #ffffff;
    border-radius: 8px;
    width: 160px;
}
.off-canvas-logout{
    position: absolute;
    bottom: 10px;
}

.label-text{
    font-size: 2rem;
    padding: 5px;
}
.pagination{
    display: flex;
    justify-content: center;
    padding: 15px;
}